@charset "UTF-8"

/* reset */
*{margin: 0; padding: 0; box-sizing: border-box;}

div{
  display: block;
}
li{
  list-style: none;
}

/* ??? */
.section{
  display: block;
}

/* ??? */
.main_product_list{
  max-width: 1680px;
  width: 92%;
  margin: 0 auto 120px;
  padding: 0;
}


/* 제목 */
.main_title{
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}
.main_title .main_title_txt01{
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
}
.main_title .main_title_txt02{
  font-size: 18px;
  margin-left: 20px;
  font-weight: 400;
  line-height: 1;
  color: #999;
}

.product_listmain{
  margin: 22px 0 0;
}
.product_listmain .ec-base-product{
  
}
ul.prdList{
margin: 0 -10px 0;
}

li.anchoreBox{
  display: inline-block;
  width: 25%;
  margin: 0 0 60px 0;
}

.prdList__item{
  margin: 0 10px;
}

.thumbnail{
  margin: 0 0 10px;
  text-align: center;
  /* width: auto; */
}
.thumbnail a{}
.thumbnail a img{
  height: 100%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.thumbnail .likeButton{}
.thumbnail .badge{}
.thumbnail .icon__box{}
.thumbnail .sale_box{}

.description{
  margin: 20px 0 0 0;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}
.description .name{
  font-size: 18px;
  color: #111111;
}

.spec{
  margin: 10px 0 0px 0px;
}
.spec > li{
  margin: 0 0 5px;
}
.spec .xans-record-1{
  font-size: 14px;
  color: #aaaaaa;
}
.spec .xans-record-2{
  font-size: 14px;
  color: #aaaaaa;
  text-decoration: line-through;
}
.spec .xans-record-3{
  font-size: 18px;
  font-weight: bold;
  color: #111111;
}