.ec-base-product.xans-product-listmain-1 .prdList >li{
  overflow: hidden;
}

.ec-base-product.xans-product-listmain-1 .prdList .prdList__item{
  margin: 10px;
  position: relative; /*description 기준요소*/
}

.ec-base-product.xans-product-listmain-1 .prdList .prdList__item:hover .thumbnail{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.ec-base-product.xans-product-listmain-1 .prdList .icon__box{
  visibility: hidden;
}

.ec-base-product.xans-product-listmain-1 .prdList .description{

  /***** (뷰티)내용추가 */
  position: absolute;
  left: 0;
  bottom: 0;
  top: auto; /*이전에 top 값을 넣었다면*/
  border: 1px solid blue;
  width: 100%;
  transform: translate(0, 110%);
  padding: 5% 5% 3% 5%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);

  transition: transform 0.1s;
  }

  /***** .description 위치변경 */
.ec-base-product.xans-product-listmain-1 .prdList .prdList__item:hover .description{
  transform: translate(0,0);
  transition: transform 0.3s;
}