@charset "UTF-8";
@import "reset.css";
@import "common.css";

.displaynone{display: none;}

.product_listmain{
  /* border: 1px solid #000; */
}

.product_listmain .ec-base-product{
  /* border: 1px solid red; */
  margin: 22px 0 0;
}

.ec-base-product ul.grid4{
}

.ec-base-product ul.grid4>li{
  border: 1px solid blue;
  margin: 0 0 60px 0;
  display: inline-block;
  width: 25%;

}
.ec-base-product .prdList .thumbnail{

}
.thumbnail a img{
  /* border: 1px solid red; */
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.ec-base-product.grid4 .anchorBoxId .description{}
.ec-base-product.grid4 .anchorBoxId .thumbnail{}

